body{
  background-color: pink;
}

h1, h2, h3{
  text-align: center
}

.wrapper{
  width: 80%;
  margin: auto;
  background-color: blue;
  box-shadow: 10px 10px;
}

div{
  width: 90%;
  margin: auto;
}

.itembox{
  border: red;
  border-radius: 25px;
  background-color: purple;
  color: black;
  padding: 20px 30px 40px 50px
}

.favorite{
  border: gold;
  border-radius: 25px;
  background-color: white;
  color: purple;
  padding: 20px 30px 40px 50px
}
ol{
  background-color: aliceblue;
  list-style-type: decimal;
}

ul{
  background-color: saddlebrown;
  list-style-type: georgian;
}